body{
    font-family: 'Poppins', sans-serif;
    background: #f3f6fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
logi

.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
}

.field{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    
    gap: 2px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center
}