* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    font-size: small;
   justify-content: space-between;
    gap: 8px;
    border: 1px solid red;
    width: 100vh; 
    display: flex;
}
.logopokenie img {
    
    width: 200px;
    border: 1px solid red;
}


:root {
    --cor-primaria: #5F3B54;
    --cor-secundaria: #8e607d;
    --fonte-principal: "DM Sans", sans-serif;
    --fonte-secundaria: "Bricolage Grotesque", sans-serif;
    display: flex;
    justify-content:space-around;
}



body {
    font-family: var(--fonte-principal);
    
    
    /* voce colocou o display flex e ele deisa em baseline tudo por isso nao ia pra baixo <3 */
}

footer {
    display: flex;
    align-items: center;
    justify-content: center
}

.field{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    gap: 2px;
}

.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    font-size: 20px;
}

nav a:hover {
    color: var(--cor-primaria);
}

h3 {
    font-family: var(--fonte-secundaria);
}

.copyright {
    font-style: oblique;
    font-weight: bold;
    display: flex;
    align-items: end;
    justify-content: end;
}
