* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #5F3B54;
    --cor-secundaria: #8e607d;
    --fonte-principal: "DM Sans", sans-serif;
    --fonte-secundaria: "Bricolage Grotesque", sans-serif;
}

body {
    font-family: var(--fonte-principal);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center
}

.field{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    gap: 2px;
}

.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
}

h3 {
    font-family: var(--fonte-secundaria);
}
