* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #5F3B54;
    --cor-secundaria: #8e607d;
    --fonte-principal: "DM Sans", sans-serif;
    --fonte-secundaria: "Bricolage Grotesque", sans-serif;
}

body {
    font-family: var(--fonte-principal);
    background-image: url("../assets/image-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

footer {
    align-items: center;
    justify-content: center
}

nav a {
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    font-size: 20px;
}

nav a:hover {
    color: var(--cor-primaria);
}

.menu {
    display: flex;
    justify-content: space-evenly;
}

h3, h1 {
    font-family: var(--fonte-secundaria);
}

.copyright {
    font-weight: bold;
}

.cabecalho{
    background: linear-gradient(to right, #BDA3D8, #AA90C9, #CAB6E2);
}

.buscar-box {
    width: 80px;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: 0.5s;
}

.buscar-box.active {
    width: 400px;

}

.buscar-box .lupa-buscar, .buscar-box .btn-fechar {
    min-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buscar-box .btn-fechar i{
    font-size: 20px;
    margin-left: 15px;
}

.buscar-box .lupa-buscar i{
    font-size: 35px;
}

.buscar-box .input-buscar {
    position: absolute;
    left: 80px;
    width: calc(100% - 120px);
    height: 100%;
    line-height: 80px;
}

.buscar-box .input-buscar input {
    border: 0;
    outline: 0;
    font-size: 20px;
}

.lupa-buscar img {
    pointer-events: none;
}